{% extends 'base.html' %}

{% block title %}Customers{% endblock title %}

{% block content %}
<br>

<center>
    <h2 style="color:rgb(126, 11, 11);font-size: 35px;" font face="Arial">OUR CUSTOMERS</p>
</center>



<table border="1" align="center" cellpadding="7" cellspacing='6'>
    <th>ID</th>
    <th>Name</th>
    <th>Phone No</th>
    <th>Date of Registration </th>
    <th>Update</th>
    <th>View Details</th>
    <th>Delete</th>
    {% for customer in object_list %}
    <div>
        <tr>
            <td align="center" class="font-weight-bold">
                {{customer.customerID }}
            </td>
            <td align="center" class="font-weight-bold">
                {{customer.customerName }}
            </td>
            <td align="center" class="text-muted"> {{ customer.customerPhone }}</td>
            <td align="center">{{ customer.registrationDate }}
            </td>
            <td> <a href="{% url 'customer_edit' customer.pk %}" class="btn btn-warning"> Edit </a></td>
            <td> <a href="{% url 'customer_detail' customer.pk %}" class="btn btn-primary"> View Details </a></td>
            <td><a href="{% url 'customer_delete' customer.pk %}" class=" btn btn-danger">Delete</a></td>
        </tr>
    </div>
    <!-- {% if user.is_authenticated and user == article.author %} -->
    <!-- <div class="card-footer text-center text-muted">
        <a href = "{% url 'customer_edit' customer.pk %}">Edit</a> | <a href="{% url 'customer_delete' customer.pk %}">Delete</a>
        </div> -->
    <!-- {% endif %} -->


    <br />
    {% endfor %}
</table>




{% endblock content %}