{% extends 'base.html' %}

{% block title %}{{object.materialName}}{% endblock title %}

{% block content %}

<br>

<center>
    <h2 style="color:rgb(126, 11, 11);font-size: 35px;" font face="Arial">{{object.materialName}}'s Details</p>
</center>
<br>
<br>
<div class="article-entry">
    <h4 align="center"> ID : {{ object.materialID }}</p>
    <h4 align="center"> Name : {{ object.materialName }}</p>
        <h4 align="center"> Threshold Quantity : {{ object.threshQty }}</p>
            <h4 align="center"> Material Quantity : {{ object.materialQty}}</p>
                <h4 align="center"> Cost Price : {{object.costPrice}}</p>
                    <h4 align="center"> Order Status : {{ object.checkQty }}</p>
                        <h4 align="center"> Distributors : 
                            {% if forloop.last %}
                            {{ x }}
                        {% else %}
                            {{ x }},
                            {% endif %}
                        </p>
</div>
<!-- {% if user.is_authenticated and user == article.author %} -->
<p><a href="{% url 'inventory_edit' material.pk %}">Edit</a></a></p>
<p><a href="{% url 'inventory_delete' material.pk %}">Delete</a></p>
<!-- {% endif %} -->
<br><br>
<br>
<h3 align="center" font-size: 40px> <a href="{% url 'inventory_list' %}" class="btn btn-warning"> Back
        To All Inventory Items </a>


    <!-- <div>
    <h5>Comments</h5>
    {% for comment in article.comments.all %}
    <p>
        <span class="font-weight-bold">
            {{comment.author}} &middot;
        </span>
        {{ comment }}
    </p>
    {% endfor %}
</div> -->

    {% endblock content %}