{% extends 'base.html' %}

{% block title %}Inventory Items{% endblock title %}

{% block content %}
<br>

<center>
    <h2 style="color:rgb(126, 11, 11);font-size: 35px;" font face="Arial">INVENTORY ITEMS</p>
</center>



<table border="1" align="center" cellpadding="7" cellspacing='6'>
    <th>ID</th>
    <th>Material Name</th>
    <th>Current Quantity</th>
    <th>Cost Price</th>
    <th>Order Status</th>
    <th>Update</th>
    <th>View Details</th>
    <th>Delete</th>
    {% for material in object_list %}
    <div>
        <tr>
            <td align="center" class="font-weight-bold">
                {{material.materialID }}
            </td>
            <td align="center" class="font-weight-bold">
                {{material.materialName }}
            </td>
            <td align="center" class="font-weight-bold">
                {{material.materialQty }}
            </td>
            <td align="center" class="text-muted"> {{ material.costPrice}}</td>
            <td align="center">{{ material.checkQty}}
            </td>
            <td> <a href="{% url 'inventory_edit' material.pk %}" class="btn btn-warning"> Edit </a></td>
            <td> <a href="{% url 'inventory_detail' material.pk %}" class="btn btn-primary"> View Details </a></td>
            <td><a href="{% url 'inventory_delete' material.pk %}" class=" btn btn-danger">Delete</a></td>
        </tr>
    </div>
    <!-- {% if user.is_authenticated and user == article.author %} -->
    <!-- <div class="card-footer text-center text-muted">
        <a href = "{% url 'customer_edit' customer.pk %}">Edit</a> | <a href="{% url 'customer_delete' customer.pk %}">Delete</a>
        </div> -->
    <!-- {% endif %} -->


    <br />
    {% endfor %}
</table>




{% endblock content %}