{% extends 'base.html' %}

{% block title %}Waiter{% endblock title %}

{% block content %}
<br>

<center>
    <h2 style="color:rgb(126, 11, 11);font-size: 35px;" font face="Arial">OUR MENU ITEMS</p>
</center>



<table border="1" align="center" cellpadding="7" cellspacing='6'>
    <th>ID</th>
    <th>Item Name</th>
    <th>Item Price</th>
    <th>Item Size </th>
    <th>Outlet</th>
    <th>Update</th>
    <th>View Details</th>
    <th>Delete</th>
    {% for item in object_list %}
    <div>
        <tr>
            <td align="center" > {{ item.itemID }}</td>
            <td align="center" >
                {{waiter.firstName}} {{item.itemName}}
            </td>
            <td align="center" > {{ item.itemPrice }}</td>
            <td align="center" > {{ item.itemSize }}</td>
            <td align="center" > {{ item.outletID }}</td>
            <!-- <td align="center">{{ customer.registrationDate }}
            </td> -->
            <td> <a href="{% url 'item_edit' item.pk %}" class="btn btn-warning"> Edit </a></td>
            <td> <a href="{% url 'item_detail' item.pk %}" class="btn btn-primary"> View Details </a></td>
            <td><a href="{% url 'item_delete' item.pk %}" class=" btn btn-danger">Delete</a></td>
        </tr>
    </div>
    <!-- {% if user.is_authenticated and user == article.author %} -->
    <!-- <div class="card-footer text-center text-muted">
        <a href = "{% url 'customer_edit' customer.pk %}">Edit</a> | <a href="{% url 'customer_delete' customer.pk %}">Delete</a>
        </div> -->
    <!-- {% endif %} -->


    <br />
    {% endfor %}
</table>




{% endblock content %}