{% extends 'base.html' %}

{% block title %}{{object.firstName}}{% endblock title %}

{% block content %}
<br>

<center>
    <h2 style="color:rgb(126, 11, 11);font-size: 35px;" font face="Arial">{{object.firstName}}'s Details</p>
</center>
<br><br>
<div class="article-entry">
    <h4 align="center"> Waiter ID : {{object.waiterID}}</h2>
        <h4 align="center"> Waiter Name : {{ object.firstName }} {{waiter.lastName}}</p>
            <h4 align="center"> outletID : {{ object.outletID }}</p>
                
                    <h4 align="center"> Handling Current Orders : 
                        {% for x in object.currentOrder %}
                        {% if forloop.last %}
                        Order No. {{ x }}
                        {% else %}
                        Order No. {{ x }},
                        {% endif %}
                        {% endfor %}</p>
                    <!-- <p>{{ object.registrationDate}}</p> -->

</div>
<!-- {% if user.is_authenticated and user == article.author %} -->
<p><a href="{% url 'waiter_edit' waiter.pk %}">Edit</a></a></p>
<p><a href="{% url 'waiter_delete' waiter.pk %}">Delete</a></p>
<!-- {% endif %} -->
<br><br>
<h3 align="center" font-size: 40px> <a href="{% url 'waiter_list' %}" class="btn btn-warning"> Back
        To All Waiters </a>


    <!-- <div>
    <h5>Comments</h5>
    {% for comment in article.comments.all %}
    <p>
        <span class="font-weight-bold">
            {{comment.author}} &middot;
        </span>
        {{ comment }}
    </p>
    {% endfor %}
</div> -->

    {% endblock content %}